.home {
    background-color: bisque;
}
.posts-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .post {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 25%;
  }

  .Error {
    color: black;
    background-color: red;
}